{% macro item(taxon) %}
    {% import _self as macros %}

    {% if not (taxon.slug ends with '1') %}
        {% if taxon.children|length > 0 %}
            <div class="ui dropdown item">
                <span class="text">{{ taxon.name }}</span>
                <i class="dropdown icon"></i>
                <div class="menu" >
                    {% for childTaxon in taxon.children|sortarrow((a, b) => a.name > b.name) %}
                        {{ macros.item(childTaxon) }}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="item">{{ taxon.name }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<style>
.ui.menu .dropdown.item .menu {
    overflow: auto;
    height: calc(100vh - 300px) !important;
}
</style>

{% if taxons|length > 0 %}
    <div class="ui large stackable menu">
        {% for taxon in taxons %}
            {{ macros.item(taxon) }}
        {% endfor %}

        <div style="flex-grow: 1"></div>
        <div>
            <form action="/ru_RU/taxons/category/books" class="ui loadable form" method="get">
                <div class="ui stackable grid" id="searchbar">
                    <div class="column" id="searchbarTextField">
                        <div class="field" style="display: flex">
                            <input placeholder="поиск" style="height: 43px; border-top: 0; border-bottom: 0;" id="criteria_search_value" name="criteria[search][value]" type="text"/>
                            <button style="margin-right: 0" class="ui icon button" type="submit">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endif %}
