{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}
    {{ product.name }}
    📖 Книги СФИ
{% endblock %}

{% block metatags %}
    {% if product.imagesByType('main') is not empty %}
        {% set source_path = product.imagesByType('main').first.path %}
        {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
        {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
    {% endif %}
    <meta property="og:image" content="{{ path|replace({'http:': 'https:'}) }}"/>
{% endblock %}

{% block content %}
    {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
    <div class="ui hidden divider"></div>

    <div class="ui column stackable grid product-detail">
        <div class="six wide column">
            {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

            {% include '@SyliusShop/Product/Show/_images.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
        </div>
        <div class="ten wide column">
            {# Title #}
            {% include '@SyliusShop/Product/Show/_header.html.twig' %}

            <div style="max-width: 554px;">

                {# Subtitle / Short Description #}
                {% if product.shortDescription %}
                    <p style="font-size: 18px; line-height: 1.4; margin-bottom: 20px; color: #555;">{{ product.shortDescription }}</p>
                {% endif %}

                {# Author #}
                {% for taxon in product.taxons %}
                    {% if taxon.parent.code == 'authors' %}
                        <a style="font-size: 18px; color: #00a0c6; margin-bottom: 15px; display: inline-block;" href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">
                            {{ taxon.name }}
                        </a>
                    {% endif %}
                {% endfor %}

                {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

                {# Price #}
                {% if not product.variants.empty() %}
                    <div style="margin: 25px 0;">
                        {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                    </div>
                {% endif %}

                {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

                {# Variant Selector #}
                <div style="margin-top: 20px;">
                    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                        {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                    {% endif %}
                    {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
                </div>

                {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

                {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}

                {{ sonata_block_render_event('sylius.shop.product.show.after_reviews', {'product': product}) }}

                {# Book Specifications - horizontal layout #}
                <div class="book-specs">
                    {# Publisher #}
                    {% for taxon in product.taxons %}
                        {% if taxon.parent.code == 'publishers' %}
                            <div class="book-specs__item">
                                <span class="book-specs__label">Издательство</span>
                                <a class="book-specs__value book-specs__value--link" href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">
                                    {{ taxon.name }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# Attributes: Pages, Cover type, ISBN #}
                    {% for attribute in product.getAttributesByLocale(app.request.locale, app.request.defaultLocale)|sort_by('attribute.position') %}
                        {% if attribute.attribute.code != "publish_date" %}
                            <div class="book-specs__item">
                                <span class="book-specs__label">{{ attribute.name }}</span>
                                <span class="book-specs__value">{{ attribute.value }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# Dimensions #}
                    {% if product.variants[0].width %}
                        <div class="book-specs__item">
                            <span class="book-specs__label">Размеры</span>
                            <span class="book-specs__value">{{ product.variants[0].width }}×{{ product.variants[0].height }}×{{ product.variants[0].depth }} см</span>
                        </div>
                    {% endif %}

                    {# Weight #}
                    {% if product.variants[0].weight %}
                        <div class="book-specs__item">
                            <span class="book-specs__label">Вес</span>
                            <span class="book-specs__value">{{ product.variants[0].weight }} г</span>
                        </div>
                    {% endif %}
                </div>

                {# Description - shown directly instead of in tabs #}
                {% if product.description is not empty %}
                    <div style="margin-top: 30px;">
                        <div style="font-size: 14px; line-height: 1.2; color: #333;">
                            {{ product.description | raw }}
                        </div>
                    </div>
                {% endif %}

                {{ sonata_block_render_event('sylius.shop.product.show.before_tabs', {'product': product}) }}

                {{ sonata_block_render_event('sylius.shop.product.show.before_associations', {'product': product}) }}
            </div>
        </div>
    </div>


    {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        lightbox.option({'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'});

        // Custom variant price handler for non-table layout
        $(function() {
            $('[name="sylius_add_to_cart[cartItem][variant]"]').on('change', function() {
                var price = $(this).closest('.variant-selector__item').find('.sylius-product-variant-price').text();
                $('#product-price').text(price);
            });
        });
    </script>
{% endblock %}
