<div class="ui right stackable inverted menu">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="item">{{ 'sylius.ui.my_account'|trans }}</a>
        <a href="/download" class="item sylius-logout-button">Мои электронные товары</a>
        <a href="{{ path('sylius_shop_logout') }}" class="item sylius-logout-button">{{ 'sylius.ui.logout'|trans }}</a>
    {% else %}
        <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.login'|trans }}</a>
        <a href="{{ path('sylius_shop_register') }}" class="item">{{ 'sylius.ui.register'|trans }}</a>
    {% endif %}
</div>
