{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}

    <form action="{{ actionUrl|default('') }}" method="POST" id="paymentForm">
        Номер карты
        <input data-cp="cardNumber" type="text"><br/>

        Месяц
        <input data-cp="expDateMonth" type="text"><br/>

        Год
        <input data-cp="expDateYear" type="text"><br/>

        CVC
        <input data-cp="cvv" type="text"><br/>

        Имя
        <input data-cp="name" type="text"><br/>

        <input id="cryptogram" name="cryptogram" type="hidden">

        <button onclick="createCryptogram(event);" type="submit">Оплатить
            {{ model.amount }}
            р.</button>
    </form>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}

    <script src="https://widget.cloudpayments.ru/bundles/checkout"></script>

    <script type="text/javascript">
        var checkout = new cp.Checkout("{{ publishable_key }}", document.getElementById("paymentForm"));
        var createCryptogram = function (event) {
            var result = checkout.createCryptogramPacket();

            if (result.success) { // сформирована криптограмма
                document.getElementById("cryptogram").value = result.packet;
            } else {
                event.preventDefault();
                for (var msgName in result.messages) {
                    alert(result.messages[msgName]);
                }
            }
        };
    </script>
{% endblock %}
