<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% block title %}Интернет-магазин 📖 Книги СФИ
            {% endblock %}
        </title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block metatags %}
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/syliusshop/social.jpg') }}"/>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('semantic.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/syliusshop/sfiThemeOverride.css') }}">
            {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.head') }}
    </head>

    <body class="pushable">
        {{ sonata_block_render_event('sylius.shop.layout.before_body') }}
        <div class="pusher">
            <div class="container mobile-nav__content">
                {% block top %}{% endblock %}

                <div class="ui container">
                    {% block header %}
                        <header>
                            {% include '@SyliusShop/_header.html.twig' %}
                            {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
                        </header>
                    {% endblock %}
                    <div id="context">

                        {% include '@SyliusShop/_flashes.html.twig' %}

                        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

                        {% block content %}{% endblock %}

                        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
                    </div>
                </div>

                {% block footer %}
                    {% include '@SyliusShop/_footer.html.twig' %}
                {% endblock %}
            </div>
            <div class="mobile-nav__menu hide-for-medium-up">
                <div id="menu" class="ui large inverted stackable menu" style="margin-bottom: -14px">
                    {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                    {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
                    {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

                    {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

                    {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

                    {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
                </div>
                <style>
                    @media (max-width: 767.9px) {
                        #searchbarTextField {
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                        }
                    }
                </style>
                {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
            </div>
        </div>

        {% block javascripts %}
            {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

            {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
        {% endblock %}

        {% include '@SyliusUi/Modal/_confirmation.html.twig' %}
        {{ sonata_block_render_event('sylius.shop.layout.after_body') }}

        <script type="text/javascript">
        $('.ui.sticky').sticky({setSize: false})
        </script>
    </body>
</html>
