<div id="sylius-shipping-address">
	{% if form.shippingAddress is defined %}
		{% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
		<h3 class="ui dividing header">{{ 'sylius.ui.shipping_address'|trans }}</h3>
		{% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order} %}
	{% endif %}
	{% if (order.shipments|first).method.code == "CDEK" %}
		<script type="text/javascript" src="/bundles/_themes/psmb/sfi-theme/syliusshop/cdek/widget.js" id="ISDEKscript"></script>
		<div id="cdek-map" style="height:600px;"></div>
		<script>
			var width = {{ max(order.items|map(p => "#{p.variant.width}")) }}
var height = {{ max(order.items|map(p => "#{p.variant.height}")) }}
var depth = {{ order.items|map(p => "#{p.variant.depth}")|reduce((carry, v) => carry + v) }}
var weight = {{ order.items|map(p => "#{p.variant.weight}")|reduce((carry, v) => carry + v) }}
var widjet = new CDEKWidget({
	from: {
		country_code: 'RU',
		city: 'Москва',
		postal_code: 105066,
		address: 'ул. Спартаковская, д. 10/2',
	},
	root: 'cdek-map',
	servicePath: '/cdek/service',
	canChoose: true,
	hideFilters: {
		have_cashless: true,
		have_cash: true,
		is_dressing_room: true,
		type: true,
	},
	defaultLocation: 'Москва',
	lang: 'rus',
	currency: 'RUB',
	apiKey: 'd4ba1e75-60ca-4d37-81b7-7665618810b6',
	goods: [
		{
			length: depth,
			width: width,
			height: height,
			weight: weight / 1000
		}
	],
	onChoose: function (params) {
		console.log(params)
		document.getElementById('sylius_checkout_address_postomat').value = 'cdek_pickup_' + params.id;
		document.getElementById('sylius_checkout_address_cityToId').value = params.city;
		document.querySelector('form[name="sylius_checkout_address"]').submit();
	}
});
		</script>
		{{ form_row(form.postomat) }}
		{{ form_row(form.cityToId) }}
	{% endif %}
	{% if (order.shipments|first).method.code == "PICKPOINT" %}
		<script type="text/javascript" src="//pickpoint.ru/select/postamat.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
PickPoint.open(pickPointCallback);
});
		</script>
		{{ form_row(form.postomat) }}
	{% endif %}

	{{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
</div>

<div id="sylius-billing-address">
	{{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
</div>
