<div id="sylius-shipping-address">
	{% if form.shippingAddress is defined %}
		{% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
		<h3 class="ui dividing header">{{ 'sylius.ui.shipping_address'|trans }}</h3>
		{% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order} %}
	{% endif %}
	{% if (order.shipments|first).method.code == "CDEK" %}
		<script type="text/javascript" src="/bundles/_themes/psmb/sfi-theme/syliusshop/cdek/widget.js" id="ISDEKscript"></script>
		<div id="forpvz" style="height:600px;"></div>
		<script>
			var widjet = new ISDEKWidjet({
cityFrom: 'Москва',
link: 'forpvz',
path: 'https://widget.cdek.ru/widget/scripts/',
servicepath: '/cdek/service',
templatepath: '/cdek/template',
choose: true,
hidedress: true,
hidecash: true,
hidedelt: false,
detailAddress: true,
region: true,
apiKey: 'd4ba1e75-60ca-4d37-81b7-7665618810b6',
onChooseAddress: function (params) {
document.getElementById('sylius_checkout_address_postomat').value = 'courier_' + params.address;
document.getElementById('sylius_checkout_address_cityToId').value = params.city;
document.querySelector('form[name="sylius_checkout_address"]').submit();
},
onChoose: function (params) {
document.getElementById('sylius_checkout_address_postomat').value = params.id;
document.getElementById('sylius_checkout_address_cityToId').value = params.city;
document.querySelector('form[name="sylius_checkout_address"]').submit();
}
});
		</script>
		{{ form_row(form.postomat) }}
		{{ form_row(form.cityToId) }}
	{% endif %}
	{% if (order.shipments|first).method.code == "PICKPOINT" %}
		<script type="text/javascript" src="//pickpoint.ru/select/postamat.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
PickPoint.open(pickPointCallback);
});
		</script>
		{{ form_row(form.postomat) }}
	{% endif %}

	{{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
</div>

<div id="sylius-billing-address">
	{{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
</div>
