{% if link is defined %}
<a href="{{link}}">
{% else %}
<a href="/ru_RU/products/{{slug}}">
{% endif %}
	<style>
		#book-{{slug}}{
			background-image: url('{{ asset('bundles/syliusshop/carousel/' ~ slug ~ '-small.jpg') }}');
		}
		@media(min-width: 520px) {
			#book-{{slug}}{
				background-image: url('{{ asset('bundles/syliusshop/carousel/' ~ slug ~ '.jpg') }}');
			}
		}
	</style>
	<div id="book-{{slug}}" class="carouselItem" style="">
		<div class="carouselItem-inner">
			<h3 class="carouselItem-title">{{ title | raw }}</h3>
			<p class="carouselItem-subTitle">{{ subTitle | raw }}</p>
		</div>
	</div>
</a>
