{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="variant-selector" id="sylius-product-variants">
	{% for key, variant in product.variants %}
		{% if not variant.tracked or variant.onHand > 0 %}
			{% set input_id = 'sylius_add_to_cart_cartItem_variant_' ~ key %}
			<label class="variant-selector__item" for="{{ input_id }}">
				<span class="variant-selector__radio">
					{{ form_widget(form.cartItem.variant[key], {'label': false, 'checked': false, 'id': input_id}) }}
				</span>
				<span class="variant-selector__name">
					{{ variant.name }}
					{% include('variantLabels.html.twig') %}
					{% if product.hasOptions() %}
						<span class="variant-selector__options">
							{% for optionValue in variant.optionValues %}
								{{ optionValue.value }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</span>
					{% endif %}
				</span>
				<span class="variant-selector__price sylius-product-variant-price">
					{{ money.calculatePrice(variant) }}
				</span>
			</label>
		{% endif %}
	{% endfor %}
</div>
